.Controls {
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 200px;
  opacity: 1;
  background-color: transparent;
}

@media screen and (orientation: landscape) and (max-width: 736px) {
  .Controls {
    transform: scale(1);
    /* background-color: pink; */
    opacity: 0.5;
    justify-content: flex-start;
    width: 50vw;
  }
}
