.QuoteDisplay {
  position: absolute;
  z-index: 2;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  top: 5vh;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;

  width: 70vw;
  height: 40vw;

  /* max-width: 800px;
  max-height: 500px; */

  background-color: black;
  opacity: 0.85;
  /* border-color: #e2e157; */
  /* #fff950 */
  /* #e2e157 */
  border-style: solid;
  border-width: thin;
  border-radius: 10px;

  text-align: center;

  /* #56ab82 */

  filter: drop-shadow(0 0 1.5rem #56ab82);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.closeWindowButton {
  background-color: transparent;
  border-color: transparent;
  font-size: 3vw;
  margin-right: 2vw;
  margin-top: 1vw;
  right: 0px;
  top: 0px;
  color: #9debcb;
  position: absolute;
  /* right: 1.5em; */
  /* font-family: Comic Sans MS, sans-serif; */
}

.flicker {
  animation: flickerAnim ease 5s infinite;
  -webkit-animation: flickerAnim ease 5s infinite;
  -moz-animation: flickerAnim ease 5s infinite;
  -o-animation: flickerAnim ease 5s infinite;
  -ms-animation: flickerAnim ease 5s infinite;
}

@keyframes flickerAnim {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.65;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.85;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.85;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.85;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.85;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.85;
  }
}

.questionMark {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin-left: 2vw;
  margin-bottom: 1vw;

  width: 4vw;
  height: 4vw;

  color: #fff950;
  font-size: 3vw;
  font-family: Courier new, sans-serif;

  /* background-color: #fff950; */

  background-color: transparent;

  border-color: #fff950;
  border-style: dashed;
  border-width: thin;
  border-radius: 3vw;

  opacity: 0.9;
}

.questionMark:hover,
.closeWindowButton:hover {
  opacity: 1;
  transform: scale(1.1);
}

.questionMark:active,
.closeWindowButton:active {
  transform: translateY(4px);
}
