.QuoteDisplay {
  position: absolute;
  z-index: 2;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  top: 5vh;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;

  width: 70vw;
  height: 40vw;

  /* max-width: 800px;
  max-height: 500px; */

  background-color: black;
  opacity: 0.95;
  border-color: #e2e157;
  /* #fff950 */
  /* #e2e157 */
  border-style: solid;
  border-width: thin;
  border-radius: 5px;

  text-align: center;

  filter: drop-shadow(0 0 0.75rem #56ab82);
  /* #56ab82 */
}

.quoteContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
}

.quoteContent {
  align-self: center;
  color: grey;
  font-size: 2vw;
  font-family: Optima, sans-serif;
  line-height: 1.6;
  margin-left: 7vw;
  margin-right: 7vw;
}

.author {
  position: absolute;
  right: 0px;
  margin-right: 5vw;
  margin-top: 5vw;
}
